.about {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.about .about__title {
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  color: white;
  z-index: 2;
}

.about .about__content {
  margin-top: 119px;
  margin-right: 80px;
  margin-left: auto;
  margin-bottom: 173px;
  max-width: 660px;
}

.about .about__paragraph {
  margin-bottom: 20px;
  margin-top: 0px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.about .about__paragraph:last-of-type {
  margin-bottom: 0px;
}

.about .about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about .about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}
