.card {
  width: 540px;
}

.card .card__title {
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.card .card__list {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
  width: 540px;
}

.card .card__list .card__list-item {
  display: flex;
  margin-bottom: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card .card__list .card__list-divider {
  flex-grow: 1;
  border-bottom: 1px;
  border-bottom-style: solid;
  margin-left: 8px;
  margin-right: 8px;
  height: 16px; /* I did this to move the border so that it's closer to the text vertically.  In the brief, the line appears this way.  I would rather not remove it if that's okay*/
}
