.card {
  width: 540px;
  margin-bottom: 100px;
}

.card .card__title {
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card .card__list {
  list-style: none;
  padding: 0;
}

.card:nth-of-type(1) {
  margin-right: 100px;
}

.card .card__list .card__list-item {
  display: flex;
  width: 540px;
  margin-bottom: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card .card__list .card__list-divider {
  flex-grow: 1;
  border-bottom: 1px;
  border-bottom-style: solid;
  margin-left: 8px;
  margin-right: 8px;
  height: 16px;
}
