.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-right: 100px;
}

.footer__content {
  margin-bottom: 108px;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin-top: 0px;
  padding-bottom: 4px;
  margin-bottom: 0px;
}

.footer__list {
  margin-right: 0px;
  margin-left: auto;
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer__list-item {
  margin-top: 16px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__social-link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  transition: color 1s ease;
  display: flex;
  align-items: center;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  flex-basis: 100%;
}
