.form {
  width: 385px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.form .form__fieldset {
  border-width: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.form .form__label {
  margin-bottom: 8px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form .form__input {
  border-radius: 4px;
  border-color: #838383;
  box-shadow: none;
  width: 379px;
  height: 55px;
  margin-bottom: 32px;
  padding: 0px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form .form__button {
  border-radius: 4px;
  border-color: #2f80ed;
  padding: 0px;
  width: 379px;
  height: 55px;
  background: #2f80ed;
  color: white;
  margin-bottom: 32px;
  transition-property: opacity;
  transition-duration: 1.5s;
}

.form .form__button:hover {
  opacity: 0.7;
}

.form .form__checkbox {
  border-radius: 2px;
  border-color: #838383;
  min-width: 20px;
  min-height: 20px;
  margin-right: 12px;
  align-self: center;
}
.form .form__fieldset:nth-of-type(2) {
  max-width: 385px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
