.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  z-index: 0;
  box-sizing: border-box;
  min-height: 720px;
  max-height: 800px;
}

.header__title {
  margin-top: 202px;
  margin-left: 80px;
  margin-bottom: 28px;
  margin-right: 646px;
  max-width: 729px;
  text-align: left;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__title .header__title_span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin-left: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}
.header__image {
  position: absolute;
  top: 96px; /*top position of 124 is too much when w=646. Only leaves 30px*/
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__description {
  flex-basis: 100%;
  max-width: 683px;
  height: 100px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-top: 0;
  margin-right: 646px; /*You said the margin is unnecessary, but I set it to the image width in order to prevent any overflow into the image*/
  margin-bottom: 0px;
}

.header__footer {
  justify-self: flex-end;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px 0px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  flex-direction: row;
  justify-content: space-between;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  width: 51%;
}

.header__paragraph:nth-last-of-type(odd) {
  width: 49%;
  height: 20px;
  margin-left: auto;
  text-align: right;
}
