.nav {
  margin-left: auto;
  position: absolute;
  right: 80px;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  max-width: 400px;
  z-index: 1;
}

.nav__links {
  margin-left: auto;
  display: flex;
  list-style: none;
  column-gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: color 1s ease;
}

.nav__link:hover {
  color: #2f80ed;
}
