.page {
  min-width: 1100px;
  max-width: 1600px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 100vh;
  overflow-x: scroll;
}
