.recipes {
  padding-top: 0px;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a2750;
  color: white;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-left: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  max-width: 500px;
  padding-top: 100px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-top: 24px;
  max-width: 438px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 215px 0px;
  gap: 40px;
}

.recipes__video {
  list-style: none;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  padding-bottom: 24px;
}

.recipes__video-caption {
  padding-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  justify-content: space-between;
}
