.recipes {
  padding-top: 0px;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a2750;
  color: white;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-left: 80px;
  margin-top: 0px;
  max-width: 500px;
  padding-top: 100px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

.recipes__subtitle {
  margin-left: 80px;
  margin-top: 24px;
  max-width: 438px;
  margin-bottom: 80px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

.recipes__videos {
  padding-bottom: 215px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  padding-bottom: 24px;
}

.recipes__iframe:nth-of-type(1) {
  padding-right: 40px;
  padding-bottom: 24px;
}

.recipes__videos .recipes__videos_caption {
  padding-bottom: 0px;
}
