.page {
  min-width: 1100px;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
/*when using Noto Serif, fall back on Times New Roman, then serif.*/
