.page {
  min-width: 1100px;
  max-width: 1600px;
  display: block;
  /*justify-content: center; brief said to include this, but this was causing display problems*/
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 100vh;
}
/*when using Noto Serif, fall back on Times New Roman, then serif.*/

.logo {
  width: 125px;
  height: 142px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}

.nav {
  margin-left: auto;
  position: absolute;
  right: 80px;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  max-width: 400px;
  z-index: 1;
}

.nav__links {
  margin-left: auto;
  display: flex;
  list-style: none;
  column-gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  z-index: 0;
  padding-bottom: 40px;
}

.header .header__title {
  margin-top: 235px;
  margin-left: 80px;
  margin-bottom: 28px;
  max-width: 729px;
  flex-basis: 100%;
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header .header__title .header__title_span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin-left: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__description {
  flex-basis: 100%;
  max-width: 683px;
  height: 100px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-top: 0;
  max-height: 568px;
  margin-right: 40%;
}

.header__footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 165px;
  margin-left: 80px;
  margin-right: 80px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.header__footer-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  width: 51%;
}

.header__footer-item:nth-of-type(4) {
  width: 49%;
  margin-left: auto;
  text-align: right;
}

.content {
}

.recipes {
  padding-top: 0px;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a2750;
  color: white;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-left: 80px;
  margin-top: 0px;
  max-width: 500px;
  padding-top: 100px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

.recipes__subtitle {
  margin-left: 80px;
  margin-top: 24px;
  max-width: 438px;
  margin-bottom: 80px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

.recipes__videos {
  padding-bottom: 215px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  padding-bottom: 24px;
}

.recipes__iframe:nth-of-type(1) {
  padding-right: 40px;
  padding-bottom: 24px;
}

.recipes__videos .recipes__videos_caption {
  padding-bottom: 0px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}

.reservation .reservation__title {
  margin-bottom: 80px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 0px;
  padding-top: 0px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

.reservation .reservation__form {
  padding-top: 0px;
  margin-bottom: 120px;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}

.form {
  max-width: 385px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.form .form__fieldset {
  border-width: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.form .form__label {
  margin-bottom: 8px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form .form__input {
  border-radius: 4px;
  border-color: #838383;
  box-shadow: none;
  width: 379px;
  height: 55px;
  margin-bottom: 32px;
  padding: 0px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form .form__button {
  border-radius: 4px;
  border-color: #2f80ed;
  padding: 0px;
  width: 379px;
  height: 55px;
  background: #2f80ed;
  color: white;
  margin-bottom: 32px;
  transition-property: opacity;
  transition-duration: 1.5s;
}

.form .form__button:hover {
  opacity: 0.7;
}

.form .form__checkbox {
  border-radius: 2px;
  border-color: #838383;
  min-width: 20px;
  min-height: 20px;
  margin-right: 12px;
  align-self: center;
}
.form__fieldset:nth-of-type(2) {
  max-width: 385px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
